<div id = "table">
<table class = "table table-striped">
  <thead class="thead-inverse">
  	<th>First Name</th>
  	<th>Last Name</th>
  	<th>Email</th>
  	<th>Admin</th>
  	<% if group.admins.include? current_user %>
  		<th colspan="3">Options</th>
  	<% end %>
  </thead>
  <tbody>
    <%= render partial: 'user_grid', locals: {group: group} %>
  </tbody>
</table>
</div>