<div class="container">
<h1>Contact Us</h1>
<p>
<h3>Email</h3><br>
To contact us, you can email us at 'cse3901project@gmail.com', and someone may or may not respond or get in contact with you because we may have forgotten the password for that email account.<br><br>
<h3>Visit Us</h3><br>
To visit us, come to Ohio State and search around the Dreese Lab computer labs, the SEL, or Thompson Library.  Odds are that you will find us in one of these locations quicker than if we gave our home addresses.  
</p>
<h3> Social Media </h3>
<p>
You can connect with us on social media by following us on Twitter: @K_stein14, Facebook: Kenton Steiner, and Instagram: @kenny_westside.<br>
We are also on snapchat!  Just add @k_stein96 if you want to see lit snaps about all nighters writing code and studying.  
</p>
</div>