 <script>
    $(document).ready(function(){
        $("p").hide();
        $("#1").click(function(){
            $("p:first").toggle();
        });
        $("#2").click(function(){
            $("#p2").toggle();
        });
        $("#3").click(function(){
            $("#p3").toggle();
        });
        $("#4").click(function(){
            $("#p4").toggle();
        });
        $("#5").click(function(){
            $("#p5").toggle();
        });
    });
</script>

<div class="container" >
<h2 >Frequently Asked Questions</h2>

<h4 id = "1">How can I sign up?</h4>

<p>In order to use Hang Time, you need to sign up first. Click the sign up button, then enter the email address, password and your first name. These are the necessary informations. You can also enter the optional information like last name, nick name, school, job etc.</p>

<h4 id = "2">How can I create a new event?</h4>

<p id = "p2">Event is one of the main features in Hang Time. You can create a new event by clicking the new event button. You need to enter all the informations. Make sure your event&#39;s start time is eariler than the end time.</p>

<h4 id = "3">What is a group?</h4>

<p id= "p3">A group is formed by multiple users who want to share their schedule in order to find a meeting time. In the group calendar, you can see the schedule of all the group memebers. You can create a new meeting for group members in the same way as creating event.</p>

<h4 id = "4">How can I create a group?</h4>

<p id="p4">You can create your own group by clicking the create group button that is under the group Navbar. As you have created a group, you can add new member to your group by providing their user id.</p>

<h4 id = "5">What is Admin of a group?</h4>

<p id = "p5">An administrator is the user who can remove other users from the group. The user who created the group will automatically become administrator. An adminstrator can promote other users to administrator or demote them back to normal user. Each group must have at least one administrator.</p>

</div>>


