 <script>
    $(document).ready(function(){
        $("p").hide();
        $("#first").click(function(){
            $("pfirst").toggle();
        });
        $("second").click(function(){
            $("#psecond").toggle();
        });
        $("#third").click(function(){
            $("#pthird").toggle();
        });
        $("#fourth").click(function(){
            $("#pfourth").toggle();
        });
        $("#fifth").click(function(){
            $("#pfifth").toggle();
        });
    });
</script>

<div class="container" >
<h1>Frequently Asked Questions</h1>

<h3 id = "first">How can I sign up?</h3>

<p id="pfirst">In order to use Hang Time, you must sign up first. Click the sign up link either in the navigation bar at the top of the screen, or from the homepage, where you will be prompted to enter your account information.  The only required options are email address, first name, and password, but you can also enter additional information like last name, nick-name, school, job etc.</p>

<h3 id = "second">How do I add an event to my calendar?</h3>

<p id = "psecond">You can create a new event by clicking the new event button on the landing page after you log in.  All of the fields must be filled in for the event to be saved, and make sure your event's start time is eariler than the end time.</p>

<h3 id = "third">What is a group?</h3>

<p id= "pthird">A group is formed by multiple users who want to share their schedule in order to find a meeting time. In the group calendar on the group's homepage, you can see the schedule of all the group members. You can create a new event for all group members the same way you create a personal event.</p>

<h3 id = "fourth">How can I create a group?</h3>

<p id="pfourth">You can create your own group by clicking the "Create Group" button on your homepage. Once you have created a group, you can add other people to the group by clicking the "Add user to group" button from the group's home page and inputting their user ID's.</p>

<h3 id = "fifth">What is an admin of a group?</h3>

<p id = "pfifth">An administrator is a user who has permission to manage the users of a group. An administrator can promote and demote other users to or from the admin role, and also remove users from the group.  The user who creates the group will automatically become administrator, and cannot be demoted from that role.</p>

</div>


