


<div class = "center">
	<%= image_tag "HangTime.png", align: "middle", :class => "logo"%>

	<%= button_to "Sign Up", new_user_registration_path, class: "btn-lg signup", method: :get %>

	<%= button_to "Login", new_user_session_path, class: "btn-lg login" %>
</div>
