<%#
Author: JA
Changes:
  RH - Added the calendar, minor change the syntax
  SP - Created partials + added collapsible forms for addEvent and joinGroup
%>
<div class="personal">
  <h1>
    Welcome
    <%= "#{current_user.fname}!" if user_signed_in? %>
  </h1>

  <div class ="left">
    <h3> Events </h3>
    <%= render './partials/addEvent' %>
    <br>
    <%= render './partials/viewEvents' %>

  </div>
  <div class="right">

   <%= render './partials/generateCalendar', object: @events %>

  </div>
</div>
