/*
Author: JA
Changes: SP - button extends bootstrap button
*/
@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$sky-blue: #caebf2;
$breeze: rgba(67, 132, 150, 0.95);
$breeze-light: rgba(67, 132, 150, 0.10);


/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  // background-color: $gray-medium-light;
}


h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  clear: both;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li button {
  float: left;
  margin-left: 15px;
}

button a{
  color: black !important;
  background-color: $sky-blue !important;
}

button {
  @extend .btn;
  font-color: black;
  background-color: $sky-blue;
}


/* Allows for links to look just like buttons */

a.button, .signup, .login{

  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  @extend button;
}


/* For calendar */

.bg {
  background-color: darkturquoise;
  color: #ffffff;
}

.bg-2 {
  background-color: mediumpurple;
  color: #ffffff;
}

.size-1 {
  margin-top: 15px;
  font-size: 24px;
}

.size-2 {
  font-size: 15px;
}


/*For collapsable forms*/
.collapse{

}


.actions{
  margin-top: 20px !important;
  font-weight: bold;

}

/*For logo */

.logo{
  width: 250px;
}

/*for calendar events*/
.displayEvent{
  text-align: center;
}

.displayEvent:hover{
   font-weight: bold;
}


/* Error message */
