// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$breeze: rgba(67, 132, 150, 0.5);
$breeze-hex: #438496;
$sky-blue: #caebf2;


table {
  border-collapse: collapse;
  width: 100%;
  font-family: inherit !important;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: $breeze;
  color: white;
  font-weight: 550;
}
