<%#
Author: SP
      RH - Added check condition
%>
<div class = addEvent>
  <button data-toggle="collapse" data-target="#eventForm" class="btn-md">New event</button>
  <div id="eventForm" class="collapse">
    <br>
    <%# if it is adding personal events, the group_id is 0 %>
    <% session[:group_id] = 0 %>
    <%= render partial:'events/form', locals: {event: Event.new} %>
  </div>
</div>
