<%#
Author: SP
          RH - Added check condition
%>
<div class = addMeeting>
  <button data-toggle="collapse" data-target="#eventForm" class="btn-md">New meeting</button>
  <div id="eventForm" class="collapse">
    <br>
    <% @@check = true %> <%# if it is adding group events, the check is true %>
    <%= render partial:'events/form', locals: {event: Event.new} %>
  </div>
</div>
