<div class = addEvent>
  <button data-toggle="collapse" data-target="#eventForm" class="btn-md">New event</button>
  <div id="eventForm" class="collapse">
    <br>
  	<%= render partial:'events/form', locals: {event: Event.new} %>
  </div>
</div>
