<div class = createGroup>
  <button data-toggle="collapse" data-target="#createGroupForm" class="btn-md">Create Group</button><br><br>
  <div id="createGroupForm" class="collapse">
    <%= render partial:'groups/indexform', locals: {group: Group.new} %>
  </div>
</div>