<div class = joinGroup>
  <button data-toggle="collapse" data-target="#groupFormCollapse">Join New Group</button>
  <div id="groupFormCollapse" class="collapse">
  <br>
  <%= render partial:'comprises/form', locals: {comprise: Comprise.new} %>
  </div>
</div>
