<%#
Author: JA
Changes:
	SP - works as intended
  JA - Refixed button to have same styling 
%>
<div class = "eventButton ">
<%= link_to "View Events", events_path, method: "get", class: "button" %>
</div>
